<% if can? :admin, Spree::Blog %>
  <ul class="nav nav-sidebar" id="sidebarBLOGS">
    <li class="sidebar-menu-item d-block w-100 text-muted">
      <%= main_menu_item(Spree.t(:blogs), url: "#sidebar-blogs", icon: 'pencil') %>
      <%= render partial: 'spree/admin/shared/sub_menu/blogs' %>
    </li>
  </ul>
<% end %>
